@model HospitalProject_W2022.Models.ShiftDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Shift</h2>

<div>
    <a href="/Shift/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Shift list
    </a>
</div>

<form method="POST" action="/Shift/Update/@Model.SHID" enctype="multipart/form-data" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    <div style="display:none;">
        @* Pass through the shift ID *@
        <input type="text" name="SHID" value="@Model.SHID" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Date:</label>
        <input type="date" name="date" value="@Model.Date.ToShortDateString()" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Type:</label>
        <select name="type" style="padding: 12px 12px 12px 0; display: inline-block;">
            <option value="morning">Morning</option>
            <option value="evening">Evening</option>
            <option value="night">Night</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Update Shift" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
    </div>
</form>
