@model IEnumerable<HospitalProject_W2022.Models.StaffDto>
@{
    ViewBag.Title = "New";
}

<div>
    <a href="/Shift/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Shift list
    </a>
</div>

<h2>Create New Shift</h2>

<form action="/Shift/Create" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Staff Member:</label>
        <select name="SID" style="padding: 12px 12px 12px 0; display: inline-block;">
            @foreach (var staff in Model)
            {
                <option value="@staff.SID">@staff.FName @staff.LName</option>
            }
        </select>
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Date:</label>
        <input type="date" min="" name="date" id="myDate" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Type:</label>
        <select name="type" style="padding: 12px 12px 12px 0; display: inline-block;">
            <option value="Morning">Morning</option>
            <option value="Evening">Evening</option>
            <option value="Night">Night</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Make New Shift" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
    </div>
</form>

<!--Reference: https://stackoverflow.com/questions/43274559/how-do-i-restrict-past-dates-in-html5-input-type-date-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#myDate').attr('min', maxDate);
    });
</script>

