@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron p-5 text-center">
    <h1>Nipigon Memorial District Hospital</h1>
    <!-- Source of content: https://www.descriptionari.com/quotes/hospital/-->
    <p class="lead">The sanctity of the patient, their humanity, is what this hospital strives to uphold - especially in challenging times.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Patient/New">New Patient?</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Appointment/New">Book an appointment</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Staff/List">Manage Staff</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Shift/List">View Shifts</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-3">
                <div class="icon-box">
                    <h3><a href="/Department/List">Departments</a></h3>
                </div>
            </div>
        </div>

    </div>
</section>