@model HospitalProject_W2022.Models.StaffDto
@{
    ViewBag.Title = "DeleteConfirm";
}


<a href="/Staff/List" class="btn btn-dblue btn-lg" role="button">
    <span class="glyphicon glyphicon-arrow-left"></span> Back to
    <br />the Staff list
</a>

<h2 class="text-center">Are you sure you want to delete @Model.FName @Model.LName's data?</h2>

<form action="/Staff/Delete/@Model.SID" method="POST" class="text-center">
    <button type="submit" class="delBtn" value="Add Staff"><span class="trashIcon glyphicon glyphicon-trash"></span> Delete</button>
</form>


