@model IEnumerable<HospitalProject_W2022.Models.PatientDto>
@{
    ViewBag.Title = "New";
}

<div>
    <a href="/Staff/List" class="btn btn-dblue btn-lg" role="button">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to
        <br />the Staff list
    </a>
</div>

<h2>Create New Staff</h2>

<form action="/Staff/Create" method="POST" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">First Name:</label>
        <input type="text" name="fname" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Last Name:</label>
        <input type="text" name="lname" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Date of Birth:</label>
        <input type="date" name="dob" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Contact:</label>
        <input type="number" name="contact" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Department ID:</label>
        <input type="text" name="did" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;" />
    </div>
    <div>
        <input type="submit" value="Make Staff" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
    </div>
</form>

