@model HospitalProject_W2022.Models.ViewModels.PatientList
@{
    ViewBag.Title = "List";
}

<h2>All Patients Infomation</h2>

<a href="/patient/new" class="btn btn-lg" role="button">
    <span class="glyphicon glyphicon-home glyphsize"></span>
    <br />Add New Patient
</a>
<div>IsAdmin: @Model.IsAdmin </div>

<ul>
    @foreach (var patient in Model.Patients)
    {
        <li><a href="/patient/details/@patient.PID">Patient ID: @patient.PID | @patient.FName @patient.LName</a></li>
    }
</ul>

