
@{
    ViewBag.Title = "New";
}

<h2>Add a New Department</h2>
<form action="/department/Create" method="post">
    <div>
        <label>Department Name:</label> <input type="text" name="DName" />
    </div>
    <div>
        <input type="submit" value="Add Department" />
    </div>
</form>


